Repository MetaMask/design-tokens, pull requests merged in 2022-04, with the labels that each got.

#90 Color update: icon/default and text/alternative
  src/colors/index.ts
  src/css/design-tokens.css
  src/figma/tokens.json
Labels: color

#86 Updated Light Theme Color Token descriptions to the latest
  src/figma/tokens.json
Labels: documentation, color, needs-design-review

#102 Adding icon alternative
  src/colors/index.ts
  src/css/design-tokens.css
  src/figma/tokens.json
Labels: color

#104 CSS in JS description update
  src/colors/index.ts
Labels: documentation
